@import url(https://fonts.googleapis.com/css?family=Poppins);

/**Gjelder alle sidene**/
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nettsidens_logo {
  width: 5rem;
}

.ikon {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.ikon_link {
  text-align: center;
}

#ikon_link_contact {
  background-color: #e6bd43;
  padding: 10px;
}

.meny {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer {
  background-color: #252525;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo_footer {
  width: 5rem;
  text-align: center;
}

.tekst_footer {
  color: white;
}

.footerIkoner {
  font-size: 2rem;
  color: white;
  margin: 1rem;
}
/**Gjelder alle sidene**/


/**INDEX**/

/**DEL 1 - Read more about our services**/

/**Video på desktop**/
.myVideo{
  display: none;
}
/**Video på desktop**/


.bilde_kontor_index{
  opacity: 0.5;
  margin-top: 1.5rem;
  width: 100%;
  height: 28rem
}

.TekstOverBildet{
  display: flex;
  flex-direction: column;
  position: relative;
}

.Overskrift {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.tekst_del2{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 3rem;
}

.service_knapp{
    color: black;
    background-color: #e6bd43;
    padding: 0.5rem;
    text-decoration: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3rem;
}
/**DEL 1 - Read more about our services**/


/** DEL 2 - Enganging subheading**/
.info_del2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem
}
/** DEL 2 - Enganging subheading**/

/**DEL 3 - About our company**/
.info_del3 {
  background-color: #e6bd43;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem
}

.readmore_knapp{
  color: black;
  text-decoration: none;
  border-style: solid;
  width: 8rem;
  margin: 0 auto; 
}

.our_services {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem;
}

.tekst_branding {
  position: relative;
  top: -20px;
}

.branding {
  font-weight: bold;
}
/**DEL 3 - About our company**/

/**-Del 5 - newsletter**/
#input {
  padding: 0.5rem;
}
#knapp {
  background-color: #e6bd43;

  padding: 0.5rem;
}

.newsletter {
  background-color: lightgray;
  padding: 1.5rem;
}
/**Del 5 - newsletter**/

/**PORTOFOLIO**/

/**DEL 1 - Portofolio**/
.portofolio {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bilde_kontor_portfolio {
  width: 100%;
  opacity: 0.5;
  margin-top: 2rem;
}
/**DEL 1 - Portofolio**/

/**DEL 2 - Explore**/
.explore_tittel {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.explore_button {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  margin: 3rem;
  gap: 1rem;
}

#explore_branding {
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  padding: 10px;
}
#explore_design {
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  padding: 10px;
}

#explore_development {
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  padding: 10px;
}
/**DEL 2 - Explore**/

/**DEL 3 - Branding**/
.branding_tittel {
  display: flex;
  flex-direction: column;
  text-align: left;

  margin-left: 3rem;
}

hr{
  color: #e6bd43;
  background-color: #e6bd43;
  height: 4px;
  border-width: 0;
  width: 80%;
}

.bilde_portofolio {
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.info_tekst_portofolio {
  font-size: 10px
}
/**DEL 3 - Branding**/

.bilde_kontor_about {
  width: 100%;
  height: 47rem;
  margin-top: 2rem;
}

/**ABOUT**/

.Bakgrunn_bildeinfo{
  background-color: #ffffff;
  border: 1px transparent;
  opacity: 0.7;
  margin-top: 1rem;
  position: relative;
  text-align:center;


}

.aboutcompany_info{
  background-color: rgba(211, 211, 211, 0.5);
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
}

#aboutus_button{
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  background-color: #e6bd43;
  padding: 10px;
  margin-left: 1rem
}












.about_company_info {
  background-color: rgba(211, 211, 211, 0.5);
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}


.kunder {
  background-color: #e6bd43;
  display: flex;
  flex-direction: column;
  text-align: center;

  display: block;
}

.logo_klient {
  width: 10rem;
}

.kunder_tekst {
  font-weight: bold;
}

#name_contactus {
  padding: 0.5rem;
}

#subject_contactus {
  padding: 0.5rem;
}

.contact_us {
  font-weight: bold;

  text-align: center;
}

.send_us_a_message {
  font-weight: bold;
}

.contact_information {
  font-weight: bold;
}

.adresse {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tlf_nummer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tlfnummer_tekst,
.adresse_tekst,
.mail_tekst {
  margin-left: 1rem;
}

#knapp_message {
  margin-top: 1rem;
  background-color: #e6bd43;

  padding: 0.5rem;
}

.contactus_info {
  background-color: rgb(227, 225, 225);
}



@media only screen and (min-width: 600px) {
  .bakgrunnsbildet_tekst {
    background-clip: url("/img/mountains.mp4");
    background-repeat: no-repeat;
  }
}