@import url(https://fonts.googleapis.com/css?family=Poppins);

.TekstMedVideo {
  display: none;
}
/**Gjelder alle sidene**/
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nettsidens_logo {
  width: 5rem;
}

.ikon {
  text-decoration: none;
  color: black;
}

.ikon_link {
  text-align: center;
}

#ikon_link_contact {
  background-color: #e6bd43;
  padding: 10px;
}

.meny {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer {
  background-color: #252525;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo_footer {
  width: 5rem;
  text-align: center;
}

.tekst_footer {
  color: white;
}

.footerIkoner {
  font-size: 2rem;
  color: white;
  margin: 1rem;
}
/**Gjelder alle sidene**/

/**INDEX**/

/**DEL 1 - Read more about our services**/

/**Video på desktop**/
.myVideo {
  display: none;
}
/**Video på desktop**/

.bilde_kontor_index {
  opacity: 0.5;
  margin-top: 1.5rem;
  width: 100%;
  height: 28rem;
}

.TekstOverBildet_index {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Overskrift {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.tekst_del2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 3rem;
}

.service_knapp {
  color: black;
  background-color: #e6bd43;
  padding: 1rem;
  text-decoration: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3rem;
}
/**DEL 1 - Read more about our services**/

/** DEL 2 - Enganging subheading**/
.info_del2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}
/** DEL 2 - Enganging subheading**/

/**DEL 3 - About our company**/
.info_del3 {
  background-color: #e6bd43;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}

.readmore_knapp {
  color: black;
  text-decoration: none;
  border-style: solid;
  width: 8rem;
  margin: 0 auto;
}

.our_services {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem;
}

.tekst_branding {
  position: relative;
  top: -20px;
}

.branding {
  font-weight: bold;
}

/**DEL 3 - About our company**/

/**-Del 5 - newsletter**/
#input {
  padding: 0.5rem;
}
#newsletter_knapp {
  background-color: #e6bd43;
  padding: 0.5rem;
}

.newsletter {
  background-color: lightgray;
  padding: 1.5rem;
}
/**Del 5 - newsletter**/

/**PORTOFOLIO**/

/**DEL 1 - Portofolio**/

.TekstOverBildet_portofolio {
  display: flex;
  flex-direction: column;
  position: relative;
}
.portofolio {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bilde_kontor_portfolio {
  width: 100%;
  opacity: 0.5;
  margin-top: 2rem;
}
/**DEL 1 - Portofolio**/

/**DEL 2 - Explore**/
.explore_tittel {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 5px solid #e6bd43;
  width: 95%;
}

.explore_button {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  margin: 3rem;
  gap: 1rem;
}

.explore_branding {
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  color: black;
}
.explore_design {
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  color: black
}

.explore_development {
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  color: black;
}
/**DEL 2 - Explore**/

/**DEL 3 - Branding**/
.previous_jobs_titel {
  margin-left: 3rem;
  border-bottom: 5px solid #e6bd43;
  width: 95%;
}

.jobs_wrapper_branding,
.jobs_wrapper_design,
.jobs_wrapper_development {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job_card_branding,
.job_card_design,
.job_card_development {
  padding-top: 2rem;
  min-width: 200px;
  max-width: 350px;
}

.job_pictures_branding,
.job_pictures_design,
.job_pictures_development {
  width: 100%;
}

.job_info_branding,
.job_info_design,
.job_info_development {
  font-size: 1rem;
}
/**DEL 3 - Branding**/

.bilde_kontor_about {
  width: 100%;
  height: 47rem;
  margin-top: 2rem;
}

/**ABOUT**/

/**DEL 1 - bakgrunnsbilde & tekst**/
.Bakgrunn_bildeinfo {
  background-color: #ffffff;
  border: 1px transparent;
  opacity: 0.7;
  margin-top: 1rem;
  position: relative;
  text-align: center;
}

.aboutcompany_info {
  background-color: rgba(211, 211, 211, 0.5);
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
}

#aboutus_button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  background-color: #e6bd43;
  padding: 10px;
  margin-left: 1rem;
}
/**DEL 1 - bakgrunnsbilde & tekst**/

/**Del 5 - clients**/

.kunder {
  background-color: #e6bd43;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: block;
}

.logo_klient {
  width: 10rem;
}
/**Del 5 - clients**/

/**Contact us**/
.send_us_a_message {
  font-weight: bold;
}

.informasjon_alt {
  background-color: rgb(227, 225, 225);
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.contactus_info {
  margin-left: 1rem;
}
/**Contact us**/

/**Name**/
#name_contactus {
  padding: 0.5rem;
}
/**Name**/

/**Subject**/
#subject_contactus {
  padding: 0.5rem;
}
/**Subject**/

/**Message**/
#knapp_message {
  margin-top: 1rem;
  background-color: #e6bd43;
  padding: 0.5rem;
}
/**Message**/

/**Contact Information**/
.contact_information {
  font-weight: bold;
}
/**Contact Information**/

/**Adresse**/
.adresse {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/**Adresse**/

/**Nummer**/
.tlf_nummer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/**Nummer**/

.tlfnummer_tekst,
.adresse_tekst,
.mail_tekst {
  margin-left: 1rem;
}

/**DESKTOP**/
@media only screen and (min-width: 992px) {
  /**Gjelder alle sidene**/
  .meny {
    display: flex;
    flex-direction: row;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
  }

  .nettsidens_logo {
    margin: 1rem;
  }

  #ikon_link {
    font-weight: bold;
    border-bottom: 2px solid #e6bd43;
    width: 20%;

  }

  #ikon_link_contact {
    font-weight: bold;
  }

  .myVideo {
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 10%;
  }

  .TekstOverBildet_index {
    display: none;
  }

  .TekstMedVideo {
    display: block;
  }

  .tekst_del2 {
    top: 40%;
  }

  .Overskrift {
    top: 22%;
    font-size: 3rem;
  }
  .service_knapp {
    top: 55%;
    font-weight: 600;
    padding: 1rem;
  }

  .service_knapp:focus {
    background-color: black;
    color: #e6bd43;
  }

  .our_Serices_overskrift {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
  }

  .About_our_company {
    font-weight: 600;
    margin-top: 3rem;
  }

  .bilde_portofolio {
    width: 400px;
    float: left;
    box-sizing: border-box;
    padding: 20px;
  }

  .readmore_knapp {
    padding: 1rem;
  }

  .readmore_knapp:focus {
    background-color: black;
    color: #e6bd43;
  }

  .Branding {
    display: flex;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newsletter_tekst {
    font-size: 2rem;
  }

  #newsletter_knapp:hover {
    background-color: black;
    color: #e6bd43;
  }

  .Sosiale_medier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
  }

  .tekst_footer {
    margin: 2rem;
  }

  .Sosiale_medier_linker {
    margin: 1rem;
  }

  .bilde_kontor_about {
    width: 100%;
    height: 27rem;
  }

  .Alle_logoer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .kunder {
    padding: 3rem;
  }

  .explore_button {
    display: block;
  }

  .Bakgrunn_bildeinfo {
    opacity: 1;
  }

  .aboutcompany_info {
    left: 70%;
    right: -24%;
    text-align: left;
  }

  .bilde_kontor_portfolio {
    opacity: 0.5;
    height: 20rem;
  }

  .jobs_wrapper_branding {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
  }

  .jobs_wrapper_design {
    flex-direction: row;
    justify-content: space-around;
  }

  .jobs_wrapper_development {
    flex-direction: row;
    justify-content: space-around;
  }

  .job_pictures4_branding {
    width: 450px;
  }

  .job_pictures_development {
    width: 450px;
  }

  .explore_tittel {
    text-align: left;
    margin-left: 3rem;
  }

  .job_pictures_branding:hover {
    transform: scale(1.1);
  }

  .job_pictures4_branding:hover,.job_pictures_design:hover, .job_pictures_development:hover{
    transform: scale(1.1);
  }

   
  }

